
<nav class="navbar navbar-light bg-light navbar-expand">
    <a class="navbar-brand ml" href="#">
      <app-header></app-header>
    </a>
  
    <div class="navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Livros</a>
        </li>
      </ul>
  
      <div class="input-group mr-auto">
        <input type="text" class="form-control" placeholder="Pesquise por título" aria-label="Pesquise por título" aria-describedby="button-addon2">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button" id="button-addon2">Pesquisar</button>
        </div>
      </div>
    </div>
</nav>



